html, body {

    height: 100%;
    width: 100%;

}

body {

    background-image: url("image/cf.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
}

.meny {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.meny a {

    width: 10%;
    height: 5%;
    display: flex;
    background-color:black;
    justify-content: center;
    align-items: center;
    padding: 2%;
    color: white;

}

.meny a:hover {

    background-color: green;
    color: white;

}

