html, body {
    height: 100%;
}


.innpakning {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.rammet {
    height: 50%;
    width: 100%;
}

.rammeb {
    height: 50%;
    width: 100%;
}

.fc.png {
    height: 100%;
    width: 100%;
}